on init   
   # Change ownership for for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for for cabc feature
   chown system system /sys/class/graphics/fb0/cabc

on boot
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/dev_enable
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/irq
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/irq_cnt
    chmod 0440 /sys/devices/soc/soc:fpc_fpc1020/irq_cnt

   # Change the ownership of display TE files for tcmds
   chown root oem_5004 /sys/class/graphics/fb0/te_test
   chown root oem_5004 /sys/class/graphics/fb0/te_enable
   chown root oem_5004 /sys/class/graphics/fb0/frame_counter
